* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: monospace;
}

.header h1 {
  font-size: 38px;
}

.header #logout,
#addExpense {
  padding: 10px 40px;
  min-width: 130px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bolder;
  outline: none;
}

.header #logout:hover,
#addExpense:hover {
  background-color: #222121;
  color: white;
}

#values {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

#values .box {
  width: 300px;
  height: 150px;
  padding: 1.8rem;
  border-radius: 5px;
  background-color: #ffffff;
}

#values .box:nth-child(2) {
  margin-right: 32px;
  margin-left: 32px;
}

#values .box:nth-child(3) {
  color: #ffffff;
  background-color: #33cc95;
}

#values .box h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

#values .box h1 {
  font-size: 26px;
}

#listExpenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

#listExpenses .labels,
#listExpenses .boxExpense {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  max-width: 100%;
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
}

#listExpenses .labels,
#listExpenses .boxExpense {
  color: #969cb2;
}

#listExpenses .boxExpense {
  margin-bottom: 10px;
  background-color: #ffffff;
}

#listExpenses .boxExpense h4 {
  font-weight: 400;
  color: #363f5f;
}

#listExpenses .labels p,
#listExpenses .boxExpense p,
#listExpenses .boxExpense h4 {
  text-align: center;
}

#listExpenses .boxExpense .buttons {
  text-align: center;
}

#listExpenses .boxExpense .buttons button {
  margin-right: 5px;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#listExpenses .boxExpense .buttons button i {
  font-size: 20px;
}

#listExpenses .boxExpense .buttons button:hover {
  color: white;
  background-color: #222121;
}

#addExpenseModal,
#editExpenseModal {
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  gap: 1rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-timing-function: 0.6s;
  border-radius: 5px;
}

#addExpenseModal h1,
#editExpenseModal h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

#addExpenseModal #closeAddCostModal,
#editExpenseModal #closeEditCostModal {
  position: absolute;
  top: 0;
  left: 87%;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 32px;
  color: black;
  outline: none;
}

#addExpenseModal #inputs,
#editExpenseModal #inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#addExpenseModal #inputs input[type="text"],
#editExpenseModal #inputs input[type="text"] {
  width: 300px;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
}

#addExpenseModal #add,
#editExpenseModal #edit {
  width: 300px;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

#addExpenseModal #add:hover,
#editExpenseModal #edit:hover {
  background-color: #ccc;
}
